body{
	background-color: black;
	color:red;
	font-family: 'BenchNine', sans-serif;
	margin:0px;
	padding:0px;
	height:100%;
	width:100%;
}
p{
	width:600px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
}
#wrapper{
	text-align: center;
	position: absolute;
	width:100%;
	height:500px;
}
b{font-size: 102px;}
#hidden{
	visibility: hidden;
	z-index: 2;}
img{
	height:100%;
	max-width: 100%;
	margin-bottom: 10px;
	z-index: 1;
}